#modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-nav
        = link_to '#', class: 'back' do
          %i.fas.fa-backward
          back
        = link_to '#', class: 'reload' do
          %i.fas.fa-sync-alt
          reload
        = link_to '#', class: 'forward' do
          %i.fas.fa-forward
          forward
        = link_to '#', class: 'open', target: '_blank' do
          %i.far.fa-external-link
          open
      .modal-body
