.field-unit__label
  = f.label field.attribute
.field-unit__field
  - if field.options.key?(:radio_buttons) ? field.options[:radio_buttons] : field.display_options_and_keys.size <= 3
    - field.display_options_and_keys.each do |display_option, key|
      = f.radio_button field.attribute, key
      = f.label [field.attribute, key].join('_'), display_option
  - else
    = f.select field.attribute, field.display_options_and_keys, include_blank: true
