.field-unit {
  @include clearfix;
  @include fill-parent;
  margin-bottom: $base-spacing;
  position: relative;
}

.field-unit__label {
  @include span-columns(2 of 12);
  min-width: 200px;
  text-align: right;
  padding-top: 5px;
}

.field-unit__field {
  @include span-columns(5 of 12);
  min-width: 400px;
}

.field-unit--nested {
  border-top: $base-border;
  border-bottom: $base-border;
  width: 100%;
  margin: 20px 0;

  legend {
    margin-left: 10px;
  }
}
