.field-unit {
  @include clearfix;
  @include fill-parent;
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
  position: relative;
}

.field-unit__label {
  @include span-columns(2 of 12);
  text-align: right;
}

.field-unit__field {
  @include span-columns(5 of 12);
}

.field-unit--nested {
  border: $base-border;
  margin-left: 7.5%;
  padding: $small-spacing;
  width: 50%;

  .field-unit__field {
    width: calc(75% - 1rem);
  }

  .field-unit__label {
    width: calc(25% - 1rem);
  }
}
