.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: $base-spacing;

  body.index & {
    padding: ($base-spacing * 0.5) ($base-spacing * 0.5) 0;
  }
}

.header__heading {
  font-size: modular-scale(3);
  margin-top: 0;
}

.header__info {
  text-align: center;
}

.header__actions {
  margin-left: $base-spacing;

  a.button {
    margin-bottom: 5px;
  }
}
