.modal-nav {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1000;

  .back,
  .forward {
    display: none;
  }

  a + a {
    margin-left: 10px;
  }
}

.modal-body {

  header {
    padding-left: 0;
    padding-right: 0;
  }

  .field-unit__field {
    @include span-columns(8 of 12);
  }
}
