.pagination {
  @include margin(($base-spacing * 0.5) null 0);
  @include padding(null $base-spacing);

  text-align: center;

  .first,
  .prev,
  .page,
  .next,
  .last {
    margin: $small-spacing;
  }

  .current {
    font-weight: $bold-font-weight;
  }
}
