.sidebar {
  flex: 0 0 auto;
  max-width: 12em;
  overflow-y: auto;
}

.sidebar_dev_env {
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: green;
}

.sidebar__list {
  margin: 0 $base-spacing $base-spacing;
}

.sidebar__link {
  color: $base-font-color;
  display: block;
  padding-top: $base-spacing;
  transition: color 0.05s linear;

  &:hover {
    color: $blue;
  }
}

.sidebar__link--active {
  color: $blue;
  font-weight: $bold-font-weight;
}
