.sidebar {
  flex: 0 0 auto;
  width: 15em;
  height: 100vh;
  overflow-y: auto;
}

.sidebar_dev_env {
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: green;
}

.sidebar__list {
  margin-bottom: 20px;
  background-color: #222d32;

  li {
    margin: 0;
  }
}

.sidebar__header,
.sidebar__link {
  line-height: 20px;
}

.sidebar__header {
  padding: 15px 10px 0;
  min-height: 20px;
  color: darken(#b8c7ce, 20%);
  font-size: 0.8em;
  letter-spacing: 2px;
}

.sidebar__link {
  padding: 10px;
  min-height: 30px;
  color: #b8c7ce;
  display: block;
  transition: color 0.05s linear;

  &:hover,
  .sidebar__link--active {
    font-weight: $bold-font-weight;
    background-color: #2c3b41;
    color: white;
  }
}
